PORT=6001

EMR_LOGIN_URL=https://emr.mapims.edu.in/BB15SE/wsLogin.asmx/chkLoginNew
EMR_LAB_URL_TEMPLATE=https://emr.mapims.edu.in/BB15SE/Lab/LabResultHis.aspx?action=Search&Orderid=
EMR_QUERY_BUILDER_URL=https://emr.mapims.edu.in/BB15SE/QueryBuilder/wsQueryBuilder.asmx/Getdataset1

EMR_USERNAME=solailab
EMR_PASSWORD=mapims
EMR_LOG_OPT=2

HOSPITAL_LOGO_PATH=https://mh.mapims.edu.in/static/images/logo.png
HOSPITAL_NAME_EN=Adhiparasakthi Hospitals
HOSPITAL_NAME_TA=ஆதிபராசக்தி மருத்துவமனை
HOSPITAL_ADDRESS=A clinical division of Melmaruvathur Adhiparasakthi Institute of Medical Sciences and Research<br>G.S.T. Road, Melmaruvathur - 603 319. Phone: 044-2752 8528. Toll Free: 1800 599 0999. Website: www.mapims.org
